1-secrets
1-secrets/
.1-secrets
/1-secrets
/.1-secrets

5-pixies
5-pixies/

6-argocd
6-argocd/

7-minio
7-minio/

8-efk-bigbang
8-efk-bigbang/

9-sonarqube
9-sonarqube/

10-ansible-tower
10-ansible-tower/